@page
@model EnergyUI.Pages.Containers.Index4Model
@{
    ViewData["Title"] = "Index4";
}

<h1 class="text-info">Agregar Vehiculos</h1>
<form method="post">
    <div class="form-inline">
        <label class="col-form-label coll-sm-2">Fecha: </label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="inputEmail4">
    </div>
    <div class="form-row">
        <label class="col-form-label coll-sm-2">Nombre del propietario</label>
        <input type="text" asp-for="@Model.Vehicles.NProp" class="form-control form-text" role="textbox" />
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label coll-sm-2">Marca</label>
            <input type="text" asp-for="@Model.Vehicles.Brand" class="form-control form-text" role="textbox" />
        </div>
        <div class="form-group col-md-6" method="post">
            <label class="col-form-label coll-sm-2">Modelo</label>
            <input type="text" asp-for="@Model.Vehicles.Model" class="form-control form-text" role="textbox" />
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-form-label coll-sm-2">Serie</label>
                <input type="text" asp-for="@Model.Vehicles.NSerie" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label coll-sm-2">Tipo de combustible</label>
                <input type="text" asp-for="@Model.Vehicles.TComb" class="form-control form-text" role="textbox" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2" asp-for="Vehicles.TipServ">Tipo de servicios</label>
                <input type="text" asp-for="@Model.Vehicles.TipServ" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Numero de motor</label>
                <input type="text" asp-for="@Model.Vehicles.NMotor" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Documentos legales</label>
                <input type="text" asp-for="@Model.Vehicles.DocLeg" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Tipo de llantas</label>
                <input type="text" asp-for="@Model.Vehicles.TipLlantas" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Capacidad de personas</label>
                <input type="text" asp-for="@Model.Vehicles.CapPerson" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Capacidad de tonaladas</label>
                <input type="text" asp-for="@Model.Vehicles.CapTon" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Placas</label>
                <input type="text" asp-for="@Model.Vehicles.Placas" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Oficina expendidora</label>
                <input type="text" asp-for="@Model.Vehicles.OfExp" class="form-control form-text" role="textbox" />
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label coll-sm-2">Numero de registro</label>
                <input type="text" asp-for="@Model.Vehicles.NRegist" class="form-control form-text" role="textbox" />
            </div>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <button type="submit" class="btn btn-primary">Guardar</button>
</form>

